*{

    padding: 0;
    margin: -10;
    font-family: 'Source Sans Pro', sans-serif;

    
}

.menu-nav{

    background-color: #333333;

}
.menu-list{

    display: flex;
    color: #B3B3B3;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 64.8%;
    margin: auto;
    height: 28px;
    font-size: 13px;
    padding: 10px;

}

.icon{

    color: #B3B3B3;
    padding: 0px 8px;
    
}

.bi-apple{
    font-size: 15px;
}
a{

    color: #D6D6D6;
    text-decoration: none;
    
}

ul {

    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

a:hover{

    color: #f5f5f7;

}

.logo-presente{

    height: 10px;
    width: 10px;
    margin: auto;

}

